*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    min-width: 100vh;
    min-height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

ul,ol{
    list-style: none;
}
a{
    text-decoration:none;
    color: black;
}
section{
    position:relative;
    /* max-width:90%; */
    width:90%;
    min-height:40vh;
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap:wrap;
}
input{
    width:90%;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 10px;
}
.sub a{
    background-color: black;
    width: 90%;
    padding: 15px;
    color:white;
    display: flex;
    align-items:center;
    justify-content:center;
}